@{
    ViewData["Title"] = "Login Page";
}

<div>
    <h1 class="display-4">Login Page</h1>
    <form method="post">
        <div class="form-group">
            <label for="Login" class="col-md-2 control-label">Login:</label>
            <div class="col-md-4">
                <input type="text" id="Login" name="Login" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="Password" class="col-md-2 control-label">Password:</label>
            <div class="col-md-4">
                <input type="password" id="Password" name="Password" class="form-control" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
