@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-controller="Login">
        <div>
            <button type="submit" asp-action="Logout" asp-controller="Login" class="btn btn-primary">Log out</button>
        </div>
    </form>
</div>
