@{
    ViewData["Title"] = "Successful Registration Page";
}
<div>
    <h1 class="display-4">Registration succeed.</h1>
        <div>
            <a asp-controller="Login"asp-action="Index" class="btn btn-outline-primary">Log in</a>
        </div>
</div>