@{
    ViewData["Title"] = "Successful Registration Page";
}
<div>
    <h1 class="display-4">Registration succeed.</h1>
    <form method="post">
        <div class="form-group">
            <button type="submit" asp-action="Index" asp-controller="Login" class="btn btn-outline-primary">Log in</button>
        </div>
    </form>
</div>